{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Secret Santa!</h1>

<p>
Enter the names of those who are going to be entered into the secret santa! (minimum of 4 participants required so you cannot work everything out!)
</p>
<p>
Please note that no data is stored and who has who will be different each time!
</p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('index') }}">
	<fieldset>
		<legend>Enter Participant Names</legend>
		<ul id="form_list" data-bind="foreach: participants" >
			<li>
				<strong>Person <!-- ko text: $root.index($index) --><!--/ko-->:</strong>
				<label for="name">Name</label>
				<input data-bind="value: name, attr: {id: 'name_' + $index(), name: 'name_' + $index()}" type="text" />
				<label for="email">Email</label>
				<input data-bind="value: email, attr: {id: 'email_' + $index(), name: 'email_' + $index()}" type="email" />
				<a class="remove_person" href=# data-bind="click: $root.removeName" >Remove</a>
			</li>
		</ul>
		<ul>
			<li style="display:block"><a data-bind="click: addName" id="add_name" href=# >Add another person...</a></li>
			<li style="display:block"><input id="submit_names" type="submit" value="Send Emails" /></li>
			<li style="display:block"><a id="advanced_link" href="#advanced_fieldset">Show Advanced Options</a></li>

		</ul>
	</fieldset>
	<fieldset id="advanced_fieldset">
	<legend>Advanced Options</legend>
		<p>Specify Participants that do not want to send presents to each other. This applies both ways, for example specifying persons A and B, means A will not get B and B will not get A. Please enter email addresses contained in the form above.</p>
		<ul id="pair_list" data-bind="foreach: pairs">
			<li>
				<strong>Pair <!-- ko text: $root.index($index) --><!--/ko-->:</strong>
				<label for="pair1">Email</label>
				<input data-bind="value: pair1, attr: {id: 'pair1_' + $index(), name: 'pair1_' + $index()}" type="text" />
				<label for="pair2">Email</label>
				<input data-bind="value: pair2, attr: {id: 'pair2_' + $index(), name: 'pair2_' + $index()}" type="text" />
				<a class="remove_person" href=# data-bind="click: $root.removePair" >Remove</a>
			</li>
		</ul>
		<ul>
			<li style="display:block"><a data-bind="click: addPair" id="add_pair" href="#advanced_fieldset" >Add another pair...</a></li>
			<li>Add an email below of a 'third' party that can keep a record of all the pairings in case anyone involved loses the email</li>
			<li>
				<label for="third_email">Email</label>
				<input id="third_email" name="third_email" type="email" />
			</li>
		</ul>
	</fieldset>
</form>



<script>
$(document).ready(function(){
	$('#advanced_link').click(function(){
		if ($('#advanced_fieldset').css('display') === 'none') {
			$('#advanced_fieldset').slideDown();
			$('#advanced_link').text('Hide Advanced Options');
		} else {
			$('#advanced_fieldset').slideUp()
			$('#advanced_link').text('Show Advanced Options');
		}
	});
	function Participant(name,email) {
		var self = this;
		self.name = name;
		self.email = email;
	}

	function Pair(name1,name2){
		var self = this;
		self.pair1 = name1;
		self.pair2 = name2;
	}

	function ParticipantModel() {
		var self = this;
		self.participants = ko.observableArray([
			new Participant('',''),
			new Participant('',''),
			new Participant('',''),
			new Participant('','')
		]);
		self.pairs = ko.observableArray([
			new Pair('', '')
		]);
		self.addName = function() {
			self.participants.push(new Participant("",""));
		}
		self.removeName = function(participant) { 
			self.participants.remove(participant);
		}
		self.addPair = function() {
			self.pairs.push(new Pair('', ''));
		}
		self.removePair = function(pair) {
			self.pairs.remove(pair);
		}
		self.index = function(index) { return index() + 1 }
		self.html_id = function(id,index) { return id +'_' + index() }
		self.html_name = function(name,index) { return name +'_' + index() }
	}

	ko.applyBindings(new ParticipantModel());
});
</script>
{% endblock %}


{% macro render_entry(count) %}
<li><label for="name">Name {{ count }}</label><input data-bind="value: name" id="name_{{ count }}" name="name_{{ count }}" type="text" /></li>
<li><label for="email">Email {{ count }}</label><input data-bind="value: email" id="email_{{ count }}"name="email_{{ count }}"  type="email" /></li>
{% endmacro %}
